<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <head>
    <title>Error</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- theempireondice -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6977158124863202"
             data-ad-slot="2539351554"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  	.btns{
		margin-top:20px;
		margin-botton-20px;
		margin-right:10px;
	}
  .errpic{
    height: 400px;
  }
  @media only screen and (max-width: 768px) {
    .errpic{
      height: 200px;
    }
  }
  .rotate {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform
}

.rotate:hover {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360def)
}
  </style>
<body>

<nav class="navbar navbar-default-bar no-margin" id="nav-header">

  <center>
    <h2>The Empire On Dice</h2>
  </center>

</nav>


  <div class="container"style="padding-top:100px">
        <center>
        <div class="alert allSides" style="background:#222D3C;color:#fff;">
          <p><%= error %>
            <strong><script type="text/javascript">
              console.log("<%= error %>");
            </script></strong>
          </p></div>
        </center>
  </div>

</body>
</html>
