<!DOCTYPE html>
<html>
<head>
  <title>The Empire On Dice</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css"> 
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/dice.css">
  <link rel="stylesheet" type="text/css" href="css/board.css">
  <link rel="stylesheet" type="text/css" href="css/game-elements.css">

</head>
<body onload="initGame()">


<br>


<div class="dice-main-body first-dice-main">

</div>

<div class="dice-main-body second-dice-main">

</div>
<div class="dropdown mobile-btns setting-block-btn-style">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-wrench"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li id="change-music-setting">
        <a href="#">
          <img src="img/game_img/sound-on.svg" class="sound-setting-icon" id="music-setting-img">
          &nbsp;&nbsp;Music
        </a>
      </li>
      <li id="change-fx-setting">
        <a href="#">
          <img src="img/game_img/sound-on.svg" class="sound-setting-icon" id="fx-setting-img">
          &nbsp;&nbsp;FX
        </a>
      </li>
    </ul>
</div>
<button class="btn btn-success mobile-btns roll-block-btn-style" id="roll-block-btn">Roll</button>
<button class="btn btn-success mobile-btns drop-block-btn-style" id="drop-block-btn">Drop</button>

<img src="img/game_img/castel.svg" class="p1-castel-img castel-img">
<table id='game-board' class="allSides">
</table>

<audio id="introSound" src="/sound/intro.mp3"></audio>
<audio id="putSound" src="/sound/put.mp3"></audio>
<audio id="diceRollSound" src="/sound/dice_roll.mp3"></audio>
<audio id="MoveBlockSound" src="/sound/move.mp3"></audio>
<img src="img/game_img/castel.svg" class="p2-castel-img castel-img">
<!-- 
<br>  
<br>
<footer class="game-footer"></footer> 
-->
<script src="https://unpkg.com/notie"></script>
<script src="js/game.js"></script>
<script src="js/elements.js"></script>
</body>
</html>